@page "/"
@inject IFeedService FeedService
@inject IFeedContentService FeedContentService
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1 class=indexHeader>Todays news</h1>
<div class="articleGrid">
    @foreach (var feed in FeedContentService.AllFeedsBasedOnPublish)
    {
        <div class="indexArticle">
            <div class="indexArticleContent">
                <div class="headLine">
                    <section class="imgAndName"> <div class="headerImg"> <i class=@feed.Image> </i></div><div class="headerName"><h4> @feed.Name </h4> </div></section>
                    <p style = "font-weight: bolder; font-size:1rem;">@feed.Title</p>
                </div>
                <p>@feed.Summary</p>
                <p>@feed.PublishDate</p>
                @foreach (var link in feed.Links)
                {
                    <a href=@link target="_blank">@link</a>
                }
            </div>
        </div>
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await FeedService.LoadAllFeeds();
        await FeedContentService.GetFeedContent();
    }
}
